/* ===== BASE ===== */
:root {
  /* colors */
  --desat-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grey-red: hsl(0, 6%, 24%);

  /* gradients */
  --white-gradient: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
  --pink-gradient: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

  /* font weights */
  --light: 300;
  --medium: 400;
  --bold: 600;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-image: url(../images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: calc(100% - 38.125rem);
  width: 100vw;
  height: 100vh;

  display: flex;
  position: relative;
}

/* ===== LAYOUT ===== */

.logo-container {
  margin-bottom: 8.5rem;
  position: absolute;
  left: 10rem;
  top: 4rem;
  z-index: 10;
}

.text-container {
  width: calc(100% - 38.125rem);
  padding: 4.0625rem 13.75rem 0 10.3125rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-2rem);
}

.img-container {
  flex: 1;
  height: 100%;
  background-image: url(../images/hero-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* ===== COMPONENTS ===== */

.header {
  font-size: 4rem;
  letter-spacing: 1.0825rem;
  margin-bottom: 2rem;
}

.header--pink {
  color: var(--desat-red);
  font-weight: var(--light);
  text-transform: uppercase;
  display: block;
}

.header--bold {
  color: var(--dark-grey-red);
  font-weight: var(--bold);
  text-transform: uppercase;
  display: block;
}

.description {
  color: var(--desat-red);
  font-size: 1rem;
  line-height: 1.6;
  font-weight: var(--light);
  max-width: 30rem;
  margin-bottom: 2.5rem;
}

form {
  position: relative;
  width: 27.8125rem;
}

.email {
  background: transparent;
  min-width: 31rem;
  height: 3.5rem;
  border: 1px solid var(--desat-red);
  border-radius: 1.75rem;
  color: var(--dark-grey-red);
  padding-left: 2rem;
}

.email:focus {
  outline: none;
}

.email::placeholder {
  color: var(--desat-red);
  font-size: 1rem;
  opacity: 0.5;
}

.error-sign {
  position: absolute;
  top: 1.05rem;
  right: 4.5rem;
  visibility: hidden;
}

.error-message {
  font-size: 0.8125rem;
  color: #f96464;
  font-weight: var(--light);
  position: absolute;
  bottom: -1.3rem;
  left: 2rem;
  visibility: hidden;
}

.error-input {
  border: 2px solid #f96464;
}

.show-error {
  visibility: visible;
}

.btn {
  position: absolute;
  top: 0rem;
  right: -3.19rem;
  border: none;
  background: var(--pink-gradient);
  border-radius: 1.75rem;
  padding: 1.05rem 3rem;
  cursor: pointer;
  box-shadow: 0 1rem 1.25rem 0 rgba(198, 110, 110, 0.25);
}

.btn:hover {
  background: hsl(0, 80%, 86%);
}

.btn:focus {
  box-shadow: 0 0 0 5px white, 0 0 0 10px hsl(0, 80%, 86%);
  outline: none;
}

/* ===== ATTRIBUTION ===== */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ===== MEDIA QUERIES ===== */
@media only screen and (max-width: 87.5em) {
  html {
    font-size: 95%;
  }
}

@media only screen and (max-width: 81.25em) {
  html {
    font-size: 90%;
  }
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 85%;
  }

  .btn {
    padding: 0.9rem 3rem;
  }

  .email {
    width: 20rem;
  }
}

@media only screen and (max-width: 62.5em) {
  html {
    font-size: 87.5%;
  }

  body {
    flex-direction: column;
  }

  .logo-container {
    position: relative;
    top: 0;
    left: 0;
    margin: 2rem 0 2.25rem 2rem;
  }

  .text-container {
    order: 2;
    width: 100%;
    padding: 0 2rem;
    text-align: center;
    align-items: center;
  }

  .img-container {
    order: 1;
    width: 100%;
    margin-bottom: 4rem;

    background-image: url(../images/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logo {
    width: 6.25rem;
    height: 1.305625rem;
  }

  .header {
    font-size: 2.5rem;
    line-height: 1.4;
  }

  form {
    width: 19.4375rem;
  }

  .email {
    min-width: 0;
    width: 100%;
  }

  .btn {
    padding: 1rem 2rem;
    border-radius: 1.75rem;
    right: 0;
  }

  .error-sign {
    right: 5.5rem;
  }
}
